{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	{% if error %}
	    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div id="content">
    	<div class="container-fluid">
			<div class="lock-container">
        		<div class="panel panel-default text-center paper-shadow" data-z="0.5">
          			<h1 class="text-display-1 text-center margin-bottom-none">Sign In</h1>
          			<img src="{{ asset('bundles/mc/images/people/110/guy-5.jpg')}}" class="img-circle width-80">
          			<div class="panel-body">
          				<form action="{{ path("fos_user_security_check") }}" method="post">
          				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            				<div class="form-group">
              					<div class="form-control-material">
              						<label for="username"></label>
						            <input class="form-control" id="username" name="_username" type="text" placeholder="Username" value="{{ last_username }}" required="required">
						            <label for="username">{{ 'security.login.username'|trans }}</label>
						        </div>
						    </div>
					        <div class="form-group">
					            <div class="form-control-material">
					    	        <input class="form-control" id="password" type="password" placeholder="Enter Password" name="_password" required="required">
					                <label for="password">{{ 'security.login.password'|trans }}</label>
					            </div>
					        </div>
					        <div class="form-group">
					           	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					    		<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
					    	</div>
					    	<div class="form-group">
					           	<input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
					           	<a href="/register" class="btn btn-success" >Sign in</a>
					        </div>
					        <div class="form-group">
					          	<a href="#" class="btn btn-danger">Forgot password? <i class="fa fa-fw fa-unlock-alt"></i></a>            	
					        </div>
          				</form>                   
          			</div>
        		</div>
      		</div>
		</div>
  	</div>
    
{% endblock fos_user_content %}